.m-resume {
  // var
  $font-color-primary: #38424F;
  $font-color-name: lighten($font-color-primary, 20%);
  $bgc-color-primary: #45C8DC;
  $border-color-primary: #E5E5E5;
  $item-between-space: 30px;
  %module-border-bottom {
    border-bottom: 1px solid $border-color-primary;
  }
  .resume-clear{
    clear: both;
  }
  .resume-small{
    font-size: 12px;
  }
  .info-padding {
    width: 2em;
    height: auto;
    display: inline-flex;
  }
  // reset
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    li:nth-last-child(n + 2) {
      margin-bottom: 4px;
    }
  }
  a {
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    &:hover {
      text-decoration: none;
    }
  }
  h1 {
    font-size: 30px;
  }
  h1,
  h3 {
    margin-bottom: 10px;
  }
  // parent
  font-size: 14px;
  color: $font-color-primary;
  padding: 30px 50px;
  // title
  .resume-title {
    //margin: 16px $item-between-space;
    @extend %module-border-bottom;
  }
  .resume-info-name {
    //color: #A8A8A8;
    color: $font-color-name;
  }
  .resume-item {
    //margin: 0 $item-between-space;
    padding: 24px 0;
    >h3 {
      display: flex;
      align-items: center;
      font-size:22px;
      color: #1B2026;
      &:before {
        content: ' ';
        width: 4px;
        height: 22px;
        display: flex;
        background: $bgc-color-primary;
        margin-right: 12px;
      }
    }
    &:nth-last-child(n + 2) {
      @extend %module-border-bottom;
    }
  }
  .resume-item-content {
    &.resume-item-between {
      display: flex;
      >ul {
        flex: 1 1 50%;
      }
    }
  }
  // experience
  .resume-experience {
    display: flex;
    &:nth-last-child(n + 2) {
      .resume-experience-content {
        padding-bottom: 20px;
      }
    }
  }
  .resume-experience-timeline {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    .timeline-circle {
      width: 12px;
      border-radius: 50%;
      border: 3px solid $bgc-color-primary;
      flex: 0 0 12px;
    }
    .timeline-line {
      width: 1px;
      background: $border-color-primary;
      flex: 1 1 auto;
    }
    .timeline-line-before {
      width: 1px;
      background: $border-color-primary;
      flex: 0 0 6px;
    }
  }
  .resume-experience-content {
    flex: 1 1 auto;
    .company-name,
    .project-name {
      font-size: 18px;
      color: #1B2026;
    }
    .company,
    .department,
    .project {
      display: flex;
      justify-content: space-between;
      color: #868C94;
      margin-bottom: 8px;
    }
    .content-description {
      //color: #5E5E5E;
    }
  }
  .resume-item {
    .resume-experience {
      &:first-of-type {
        .timeline-line-before {
          background: transparent;
        }
      }
      &:last-of-type {
        .timeline-line {
          background: transparent;
        }
      }
    }
  }
  // project
  .project-detail {
    display: flex;
    &:nth-last-child(n + 2) {
      margin-bottom: 8px;
    }
    .detail-name {
      color: $font-color-name;
      flex: 0 0 auto;
    }
    .detail-content {
      flex: 1 1 auto;
    }
  }
  // past
  //.resume-person-left{
  //  float: left;
  //  width: 50%;
  //}
  //.resume-person-right{
  //  float: left;
  //  width: 42%;
  //}
  //a,
  //a:active,
  //a:visited
  //{
  //  color: #626262;
  //  text-decoration: underline;
  //}
  //a:hover{
  //  color: #0780b9 !important;
  //}
}
