.banner{
  //height: 450px;
}
.mood{
  display: flex;
  flex-direction: column;
  >div{
    background-color: $mazey-module-bgc;
    border: 1px solid #dedfe0;
  }
  >div.hot{
    >div.tag-cloud{
      padding: 0 32px;
      height: 291px;
      >h3{
        color: $mazey-font-color;
        font-size: 16px;
        padding-top: 14px;
        padding-bottom: 14px;
        margin-bottom: 0;
        @extend %mazey-home-tag-cloud-border-bottom;
        //line-height: 24px;
      }
      >ul.tag-hot{
        list-style: none;
        padding-left: 0;
        display: block;
        //height: 70px;
        margin-left: -20px;
        margin-bottom: 0;
        padding: 14px 0;
        //@extend %mazey-home-tag-cloud-border-bottom;
        >li{
          display: inline-block;
          >a{
            margin-right: 20px;
            margin-left: 20px;
          }
          &:after{
            content: '|';
            color: $mazey-border-color;
          }
          //float: left;
          //cursor: pointer;
          &:nth-child(2n+1){
            //padding-right: 20px;
          }
          &:nth-child(2n){
            //width: 1px;
            //height: 20px;
            //background-color: $mazey-border-color;
            //align-self: center;
            //color: $mazey-border-color;
          }
          //&:nth-child(2n+1){
          &:nth-child(n+2){
            //border-left: 1px solid $mazey-border-color;
            //&:before{
            //  content: '|';
            //}
          }
          >a{
            color: $mazey-font-color;
            font-size: 13px;
          }
        }
      }
      >div.hot-article{
        padding-top: 14px;
        padding-bottom: 14px;
        @include mazey-home-tag-cloud-border(top);
        >a{
          color: $mazey-font-color;
          font-size: 13px;
          display: inline-block;
        }
      }
    }
  }
  >div.img{
    margin-top: $mazey-grid-gutter;
    //height: 100%;
    //flex-basis: 200px;
    height: auto;
    overflow: hidden;
    position: relative;
    img{
      //object-fit: cover;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      min-width: 100%;
      min-height: 100%;
      transform:translate(-50%,-50%);
    }
  }
}
.main{
  // 分隔符
  div.hr.row{
    padding: 30px 0;
    >div.col-lg-12{
      >div{
        border-top: 1px solid $mazey-outline-border-color;
      }
    }
  }
  div.article>.article-item{
    &:hover>h3>a{
      display: flex;
    }
    h3{
      font-size: 18px;
      font-weight: 400;
      //overflow: auto;
      //height: 24px;
      padding-bottom: 4px;
      border-bottom: 1px solid $mazey-menu-active;
      display: flex;
      justify-content: space-between;
      &:hover>a{
        //opacity: 1;
        //display: flex;
      }
      >a{
        color: #3f5a93;
        font-size: 12px;
        //display: flex;
        display: none;
        align-items: center;
        //opacity: 0;
      }
    }
    ul.article-list{
      list-style: none;
      padding-left: 0;
      >li:first-child, >li:nth-child(2), >li:nth-child(3){
        >div.list-index>span{
          color: #ffffff;
        }
      }
      >li{
        &:first-child>div.list-index>span{background-color: #bf2c24;}
        &:nth-child(2)>div.list-index>span{background-color: #e67225;}
        &:nth-child(3)>div.list-index>span{background-color: #e6bf25;}
        height: $mazey-article-list-li-height;
        >div[class^="list-"]{
          float: left;
          height: $mazey-article-list-li-height;
        }
        >div.list-index{
          width: 28px;
          height: $mazey-article-list-li-height;
          >span{
            font-family: Arial;
            font-size: 14px;
            height: 16px;
            width: 16px;
            margin-top: 8px;
            //display: block;
            @extend %flex-center;
            color: $mazey-article-list-index-color;
            background-color: darken($mazey-article-list-index-bgc, 5%);
          }
        }
        >div.list-title{
          display: flex;
          justify-content: space-between;
          align-items: center;
          a, span{
            font:{
              size: 14px;
              //family: 'Microsoft YaHei',PingFangSC-Regular,'-apple-system',Simsun;
            }
          }
          a{
            //float: left;
            //height: $mazey-article-list-li-height;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #1a1a1a;
            //font: 14px/31px PingFangSC-Regular,'-apple-system',Simsun;
          }
          span{
            //float: right;
            //height: $mazey-article-list-li-height;
            text-align: right;
            white-space: normal;
            text-overflow: ellipsis;
            color: #b3b3b3;
            width: 50px;
            //font: 12px/32px PingFangSC-Regular,'-apple-system',Simsun;
          }
        }
      }
    }
  }
}
