$mazey-body-bgc: #EEEEEE;
$mazey-menu-bgc: #847B76;
$mazey-menu-active: #E89643;
$mazey-menu-height: 56px;
$mazey-menu-active-font-active: #FFFFFF;
$mazey-font-color: #494949;
$mazey-module-bgc: #FFFFFF;
$mazey-border-color: #ebebeb;
$mazey-outline-border-color: #d4d5d5;
$mazey-grid-gutter: 20px;
$mazey-article-list-li-height: 31px;
$mazey-article-list-index-bgc: #ededed;
$mazey-article-list-index-color: #666;
$mazey-white: #FFFFFF;
